
<p id="notice"><%= notice %></p>

<h1>Tasks Done</h1>
<div class="row">
  <% @todos.each do |todo| %>
    <% if todo.done == true and todo.user_id == current_user.id %>
      <% @task = Task.find(todo.task_id) %>
      <div class="col-4 mt-2">
        <div class="card">
          <img src="<%= @task.photo %>" class="card-img-top" alt="Foto">
          <div class="card-body">
            <h5 class="card-title"><%= @task.title %></h5>
            <p class="card-text"><%= @task.content %></p>
            <%= link_to 'Show', task_path(@task), class: 'btn btn-secondary'%>
            <%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-info' %>
            <%= link_to 'Unfinish', unfinish_task_path(@task), class: 'btn btn-warning' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
