<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-5">
    <img src="<%= @task.photo %>" class="img-fluid" alt="Foto">
  </div>
  <div class="col-md-5">
    <p>
      <strong>Title:</strong>
      <%= @task.title %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @task.content %>
    </p>
    <table class="table">
    <thead>
    <th scope="col">Ranking</th>
    <th scope="col">Nombre</th>
    <th scope="col">Fecha término</th>
    </thead>
    <tbody>
    <% @task.todos.take(5).each do |i| %>
      <% @user = User.find(i.user_id) %>
      <tr>
        <td><img src="<%= @user.photo %>" class="rounded-circle img-icon"></td>
        <td><%= @user.name %></td>
        <td><%= i.finished_at  %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
</div>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
