<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-5">
    <img src="<%= @task.photo %>" class="img-fluid" alt="Foto">
  </div>
  <div class="col-md-5">
    <p>
      <strong>Title:</strong>
      <%= @task.title %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @task.content %>
    </p>
    <h5>Ranking completados:</h5>
    <table class="table">
    <thead>
    <th scope="col">Ranking</th>
    <th scope="col">Nombre</th>
    <th scope="col">Fecha término</th>
    </thead>
    <tbody>
    <% @all.sort_by{ |i| i.finished_at }.first(5).each do |t| %>
      <% @users.each do |u| %>
        <% if t.user_id == u.id%>
          <tr>
            <td><img src="<%= u.photo %>" class="img-icon img-fluid rounded-circle"></td>
            <td><%= u.name %></td>
            <td><%= t.finished_at %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    <% @all.sort_by{ |i| i.finished_at }.drop(5).each do |t| %>
      <% @users.each do |u| %>
        <% if t.user_id == u.id%>
          <tr>
            <td></td>
            <td><%= u.name %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
    </table>
  </div>
</div>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
